.ui-size.ui-small {
  padding: 5px 10px;
}
.ui-size.ui-small.ui-text {
  padding: 5px 0;
  margin-right: 10px;
}
.ui-size.ui-mini {
  padding: 3px 8px;
}
.ui-size.ui-mini.ui-text {
  padding: 3px 0;
  margin-right: 10px;
}
.ui-size.ui-large {
  padding: 8px 16px;
}
.ui-size.ui-large.ui-text {
  padding: 8px 0;
  margin-right: 10px;
}
.ui-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
}
.ui-button:last-child {
  margin-right: 0;
}
.ui-button.ui-primary {
  background-color: #409EFF;
  color: #fff;
}
.ui-button.ui-primary:hover {
  background-color: rgba(64, 158, 255, 0.8);
}
.ui-button.ui-primary:active {
  background-color: #409eff;
}
.ui-button.ui-primary.ui-text {
  background-color: transparent;
  color: #409EFF;
}
.ui-button.ui-primary.ui-text:hover {
  color: rgba(64, 158, 255, 0.8);
}
.ui-button.ui-primary.ui-text:active {
  color: #409eff;
}
.ui-button.ui-success {
  background-color: #67C23A;
  color: #fff;
}
.ui-button.ui-success:hover {
  background-color: rgba(103, 194, 58, 0.8);
}
.ui-button.ui-success:active {
  background-color: #67c23a;
}
.ui-button.ui-success.ui-text {
  background-color: transparent;
  color: #67C23A;
}
.ui-button.ui-success.ui-text:hover {
  color: rgba(103, 194, 58, 0.8);
}
.ui-button.ui-success.ui-text:active {
  color: #67c23a;
}
.ui-button.ui-warning {
  background-color: #e6a23c;
  color: #fff;
}
.ui-button.ui-warning:hover {
  background-color: rgba(230, 162, 60, 0.8);
}
.ui-button.ui-warning:active {
  background-color: #e6a23c;
}
.ui-button.ui-warning.ui-text {
  background-color: transparent;
  color: #e6a23c;
}
.ui-button.ui-warning.ui-text:hover {
  color: rgba(230, 162, 60, 0.8);
}
.ui-button.ui-warning.ui-text:active {
  color: #e6a23c;
}
.ui-button.ui-danger {
  background-color: #F56C6C;
  color: #fff;
}
.ui-button.ui-danger:hover {
  background-color: rgba(245, 108, 108, 0.8);
}
.ui-button.ui-danger:active {
  background-color: #f56c6c;
}
.ui-button.ui-danger.ui-text {
  background-color: transparent;
  color: #F56C6C;
}
.ui-button.ui-danger.ui-text:hover {
  color: rgba(245, 108, 108, 0.8);
}
.ui-button.ui-danger.ui-text:active {
  color: #f56c6c;
}
.ui-button.ui-info {
  background-color: #909399;
  color: #fff;
}
.ui-button.ui-info:hover {
  background-color: rgba(144, 147, 153, 0.8);
}
.ui-button.ui-info:active {
  background-color: #909399;
}
.ui-button.ui-info.ui-text {
  background-color: transparent;
  color: #909399;
}
.ui-button.ui-info.ui-text:hover {
  color: rgba(144, 147, 153, 0.8);
}
.ui-button.ui-info.ui-text:active {
  color: #909399;
}
